<div class="container">
    <input type="text" placeholder="search.." [(ngModel)]="filterText"/>
    <table id="student">
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Marks</th>
            <th>Percentage</th>
            <th>DOB</th>
            <th>Gender</th>
        </tr>
        <tr *ngFor="let std of filterStudents">
            <td>{{std.name}}</td>
            <td>{{std.course}}</td>
            <td>{{std.marks}}</td>
            <td>{{std.marks/totalMarks | percentage}}</td>
            <td>{{std.dob | date}}</td>
            <td>{{std.gender | lowercase}}</td>
        </tr>
    </table>
</div>
