.header{
    height: 200px;
    padding:20px 40px;
    display:flex;
    background-color: #fff;
}

.site-slogan{
    width:420px;
    margin-left: 50px;
    text-align: center;
}
h3{
    font-size: 45px;
}

