<p>---------------------------</p>
<div class="container">
    <h3>Section - 2</h3>
    <p>You can enroll couses in Courses page </p>
    <p>Please verify Full details of evry course before you enroll</p>
    <p>You can edit and update the course name</p>
</div>
<div class="container">
    <p>You can enroll couses in Courses page </p>
    <p>Please verify Full details of evry course before you enroll</p>
    <p>You can edit and update the course name</p>
</div>
<div class="container">
    <p>You can enroll couses in Courses page </p>
    <p>Please verify Full details of evry course before you enroll</p>
    <p>You can edit and update the course name</p>
</div>
<div class="container">
    <h3>Conclusion - 2</h3>
    <p>You can enroll couses in Courses page </p>
    <p>Please verify Full details of evry course before you enroll</p>
    <p>You can edit and update the course name</p>
</div>
