<section style="background-color:#c9eefe;">
    <div class="row">
        <div class="col-md-12">
            <p>
                  <img src="assets/header.jpg"  height="400" width="60%"/>
            </p>
        </div>
    </div>
</section>
<section><br />
    <div class="container">        
            <h4>Note</h4>
            <i class="pi pi-check" style="font-size: 1rem"></i>&nbsp;&nbsp;Students List contains all Details of the students<br />
            <i class="pi pi-check" style="font-size: 1rem"></i>&nbsp;&nbsp;Courses List contains all Details of the courses<br />
            <i class="pi pi-check" style="font-size: 1rem"></i>&nbsp;&nbsp;Admin can add Students and courses<br />
            <i class="pi pi-check" style="font-size: 1rem"></i>&nbsp;&nbsp;Students can enroll to their desired courses<br />
    </div>
</section>
<br />