<div class="container flex justify-content-center mt-5 col-md-7">
    <p-card header="Add Course">
        <form [formGroup]="courseForm" (ngSubmit)="addCourse()">
            <div>
                <label for="courseName" style="padding: 0px 90px 20px 20px;">Course Name</label>
                <input type="text" pInputText placeholder="Enter Course name" formControlName="courseName"/><br>
                <small class="p-error block " style="padding-left: 205px;" 
                *ngIf="courseForm.get('courseName')?.invalid && courseForm.get('courseName')?.dirty">
                CourseName is required</small>
            </div>
            <div>
                <label for="description" style="padding: 20px 50px 20px 20px;">Course Description</label>
                <input type="text" pInputText placeholder="Enter Description name" formControlName="description"/><br>
                <small class="p-error block " style="padding-left: 205px;" 
                *ngIf="courseForm.get('description')?.invalid && courseForm.get('description')?.dirty">
                Description is required</small>
            </div>
            <div>
                <label for="price" style="padding: 20px 65px 20px 20px;">Price ( in Rupee )</label>
                <input type="text" pInputText placeholder="Enter price" formControlName="price"/><br>
                <small class="p-error block " style="padding-left: 205px;" *ngIf="courseForm.get('price')?.invalid && courseForm.get('price')?.dirty">
                    <span *ngIf="courseForm.get('price')?.errors?.['required']">Price is required</span>
                    <span *ngIf="courseForm.get('price')?.errors?.['pattern']">Price must be valid integer</span>
                </small>
            </div>
            <div>
                <label for="duration" style="padding: 20px 35px 20px 20px;">Duration ( in minutes)</label>
                <input type="text" pInputText placeholder="Enter duration" formControlName="duration"/><br>
                <small class="p-error block " style="padding-left: 205px;" *ngIf="courseForm.get('duration')?.invalid && courseForm.get('duration')?.dirty">
                    <span *ngIf="courseForm.get('duration')?.errors?.['required']">Duration is required</span>
                    <span *ngIf="courseForm.get('duration')?.errors?.['pattern']">Duration must be valid integer</span>
                </small>
            </div>
            <button pButton type="submit" label="Submit" [disabled]="courseForm.invalid"></button>
        </form>
    </p-card>
</div>